*{
    margin: 0;
    padding: 0;
}
body{
    background: #ddd;
}

.Signup {
    margin: 120px;
    width: 700px;
}

.Wel {
    float: left;
    width: 350px;
    height: 250px;
    background: rgb(40 127 255);
    color: rgb(255 255 255);
    border-radius: 7px 0px 0px 7px;
    text-align: center;
}
.Wel h1 {
    margin: 43px 0px 15px 0;
}
.Wel h1::after {
    content: "";
    width: 74px;
    background: #fff;
    border: 1px solid rgb(221 221 221);
    position: absolute;
    transform: rotate(
1deg
);
    margin-top: 34px;
    margin-left: -244px;
}
span {
    display: block;
    width: 240px;
    margin: auto;
    text-align: left;
    line-height: 28px;
}
button {
    padding: 8px 25px;
    outline: none;
    border: 1px solid rgb(255 255 255);
    background: rgb(40 127 255);
    color: rgb(255 255 255);
    border-radius: 30px;
    display: block;
    margin: 20px 54px;
}
button:hover{
    cursor: pointer;
    background: #fff;
    color: #287fff;
    border-color: rgb(224, 11, 231);
    transition: all 0.5s ease;
}

.signin {
    float: right;
    width: 350px;
    height: 250px;
    background: rgb(255 255 255);
    color: rgb(255 255 255);
    border-radius: 0px 7px 7px 0px;
    text-align: center;
}
.signin h1 {
    color: rgb(0 0 0);
    margin: 40px 0 0;
}
.signin h1::after {
    content: "";
    width: 82px;
    background: rgb(0 0 0);
    border: 1px solid rgb(221 221 221);
    position: absolute;
    transform: rotate( 
1deg
 );
    margin-top: 41px;
    margin-left: -85px;
}

input[type="text"],input[type="password"] {
    display: block;
    margin: 5px auto;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: none;
}
hr {
    width: 200px;
    margin: auto;
}
.signin button {
    width: 210px;
    margin: 20px 71px;
    border: 1px solid rgb(133 133 133);
}
.signin button:hover{
    cursor: pointer;
    background: none;
    color: #287fff;
    border-color: #287fff;
    transition: all 0.5s ease;
}




.Wel::after {
    content: "";
    width: 60px;
    height: 60px;
    background: none;
    position: absolute;
    top: 235px;
    left: 413px;
    border: 21px solid rgb(255 255 255);
    border-radius: 100%;
}